<div class="card">
  <div class="card-header">
    Sign Up!
  </div>

  <div class="card-body">
    <form novalidate
          
          [formGroup]="orderForm" >

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="cusmtomerNameId">Customer Name</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="cusmtomerNameId"
                 type="text"
                
                 formControlName="customerName"
          >
         
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="emailId">email</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="emailId"
                 type="text"
                
                 formControlName="email"
          >


         
        </div>
      </div>

      <div  formArrayName="items"       *ngFor="let item of orderForm.get('items')['controls']; let i = index;">
      <div [formGroupName]="i">
        <div class="row">
       <div class="col"> <input class="form-control" type="text" formControlName="name" placeholder="Item name"/></div>
       <div class="col"> <input class="form-control" type="text"  formControlName="description" placeholder="Item description"/></div>
       <div class="col"><input class="form-control" type="number"   formControlName="price" placeholder="Item price"/></div>
        </div>
      </div>
    </div>


      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button type="button" (click)="addItem()">Add Item</button>
          
        </div>
      </div>
    </form>
  </div>
</div>
